createdAt: "2019-12-08T13:29:54.238Z"
updatedAt: "2019-12-15T14:30:45.877Z"
type: "MARKDOWN_NOTE"
folder: "1a08c9dc8161bc539047"
title: "Plant bulbs"
tags: []
content: '''
  Plant bulbs
  Mulch
  Appliance warranty
  Business plan
  read about stocks
  register for stash and robinhood
  Clean puja room
  Shred Papers
  Clean kitchen
  Clean Dining Room
  Clean Living Room
  Clean Family Room
  Clean MBR 1
  Clean BR 2
  Clean Study Room
  Clean Laundry
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
