createdAt: "2019-12-08T13:25:36.030Z"
updatedAt: "2019-12-15T14:28:43.884Z"
type: "MARKDOWN_NOTE"
folder: "eb4631465af4eaf8375c"
title: "New Jersey Expenses"
tags: []
content: '''
  New Jersey Expenses
  
  1. Petrol on Thursday
  2. Macys
  3. Lunch
  4. Petrol in gas station
  5. Coffee
  6. Dinner in adayar 12/5
  7. bf at adayar
  8. pins
  9. card and flowers
  10. dinner at adayar 12/6
  11. patels
  12. clothes
  13. costco gas
  14. sheetz gas
'''
linesHighlighted: []
isStarred: false
isTrashed: false
