createdAt: "2019-06-12T15:21:13.565Z"
updatedAt: "2019-06-12T15:21:30.866Z"
type: "MARKDOWN_NOTE"
folder: "0b9f3c1b4c0cf942332e"
title: "Recipe links"
tags: []
content: '''
  Recipe links
  
  Guvar Dhokali nu Shaak
  [YouTube](https://www.youtube.com/watch?v=sJJ1AmXLblI)
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
