createdAt: "2019-06-03T21:50:32.760Z"
updatedAt: "2019-06-03T21:57:25.093Z"
type: "MARKDOWN_NOTE"
folder: "1a08c9dc8161bc539047"
title: "Foxtail - Thinai 2"
tags: []
content: '''
  Foxtail - Thinai 2
  Little - Samai   2
  Finger - Ragi
  kodu - varugu     2
  pearl - kambu
  barnyard - kuthiraivalli   2
  browntop
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
