createdAt: "2019-12-27T15:34:51.164Z"
updatedAt: "2019-12-27T15:41:12.806Z"
type: "MARKDOWN_NOTE"
folder: "0b9f3c1b4c0cf942332e"
title: "security camera 8lbs 136.49$"
tags: []
content: '''
  security camera 8lbs 136.49$
  sewing machine 12lbs 329.95$
  3-5 days
  door to door
  submit the order sans payments
  once everything is done they will send the bank details for the payment
  after that they will send shipping labels
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
