createdAt: "2019-11-27T00:19:48.267Z"
updatedAt: "2019-12-05T03:27:19.693Z"
type: "MARKDOWN_NOTE"
folder: "0b9f3c1b4c0cf942332e"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
