createdAt: "2019-08-25T14:17:23.103Z"
updatedAt: "2019-12-05T03:27:43.834Z"
type: "MARKDOWN_NOTE"
folder: "1a08c9dc8161bc539047"
title: "Things to Do:"
tags: []
content: '''
  Things to Do: 
  
  01. Clean Refrigitator
  02. Clean basement
  03. Fix Facuets
  04. Areate & mow lawn
  05. Plant new seeds
  06. Put weed eliminator
  07. Trim pine trees
  08. Clean kitchen
  09. Fix door
  10. Fix storm door
  11. Clean windows
  12. polish wood
  13. make trolley
  14. 
'''
linesHighlighted: []
isStarred: false
isTrashed: true
