createdAt: "2019-12-08T13:48:26.709Z"
updatedAt: "2019-12-17T19:52:10.789Z"
type: "MARKDOWN_NOTE"
folder: "c645200cb907c849c145"
title: ""
tags: []
content: '''
  om rama hanumantha omkara hanumantha
  angara hanumantha omkara hanumantha
  anjana putra hari rama dootha
  anuveera anaan inkh ram hanumantha varuga varuga ve swaha
  
  ==================
  yatra yogeshwara krishno
  yatra parthor thad dharma
  nedhi dharma sharanam prabhatiya
  
  ======================
  
  ya shri yasiyum
  sukru dhinam bhavalakshmi bhavatmanam
  hruydhadhiya hrudya yo grista
  sarasta sada
  kula jana prapasiya
  lakshadha yusva nadasma
  paraipilya devi vishvam
  
  =======================
  Om Dhum Durgaiye namaha 11 times
  ===============================
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
