createdAt: "2019-06-03T22:25:28.466Z"
updatedAt: "2019-07-05T17:57:27.001Z"
type: "MARKDOWN_NOTE"
folder: "b9b3a4bdeaa7cf6c3186"
title: "Nivi Doctor visits"
tags: []
content: '''
  Nivi Doctor visits
  
  
  Jan 22nd Rogi Paul - General check up
  Feb 27 Sunita Katari - Office Visit
  Mar 18 Bloodwork and Ultrasound
  Mar 27 Sunita Katari - Office Visit
  Apr 2  Sunita Katari - Office visit
  Apr 6  Breast
  Apr 16 Breast
  Arp 17 Sunita Katari - Office visit
  May 15 Sunita Katari - Talks
  5/22 Blood work & Ultrasound
  5/25 Blood work & Ultrasound
  5/29 Blood work
  6/2 Blood work & Ultrasound
  6/5 Blood work & Ultrasound
  
  6/8 Blood Work
  6/9 Blood work & Ultrasound
  6/11 Blood Work
  6/12 Retrieval
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
