createdAt: "2019-07-23T01:55:18.515Z"
updatedAt: "2019-12-15T14:29:06.957Z"
type: "MARKDOWN_NOTE"
folder: "b9b3a4bdeaa7cf6c3186"
title: "Medication #1"
tags: []
content: '''
  Medication #1
  
  <B>Ganirelix</B>
  Day 01. 05/22   
  Day 02. 05/23
  Day 03. 05/24
  
  <B>Gonal &amp; Menopur</B>
  Day 04. 05/25
  Day 05. 05/26
  Day 06. 05/27
  Day 07. 05/28
  Day 08. 05/29
  Day 09. 05/30
  Day 10. 05/31
  Day 11. 06/01
  Day 12. 06/02
  
  <B>Genirelix, Gonal &amp; Menopur</B>
  Day 13. 06/03
  Day 14. 06/04
  Day 15. 06/04
  Day 16. 06/05
  Day 17. 06/06
  Day 18. 06/07
  Day 19. 06/08
  Day 20. 06/09
  
  <B>Gonad</B>
  Day 21. 06/10
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
