createdAt: "2019-12-16T13:50:31.064Z"
updatedAt: "2019-12-16T13:58:27.131Z"
type: "MARKDOWN_NOTE"
folder: "1a08c9dc8161bc539047"
title: "For Studying"
tags: []
content: '''
  For Studying
  
  1. Sit in North East, Pray to Hayagreevar
  
  
  For Success
  Pray to Annamalai
  
  
  For house
  Say Bhooma devi gayathri
  Pray to Srivilliputhur andal
  Imagine living in that home
  
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
