createdAt: "2019-07-21T10:28:08.875Z"
updatedAt: "2019-12-15T14:29:13.280Z"
type: "MARKDOWN_NOTE"
folder: "b9b3a4bdeaa7cf6c3186"
title: "Nivi Second Doc Visits"
tags: []
content: '''
  Nivi Second Doc Visits
  
  11th July 2019 - Initial visits with signatures
  14th July 2019 - First blood work and ultra sound
  18th July 2019 - Blood work and ultra sound
  20th July 2019 - Blood work
  21st July 2019 - Ultrasound
  24th July 2019 - Blood work and Ultra Sound
  26th July 2019 - Blood work and Ultra Sound
  27th July 2019 - Blood work
  28th July 2019 - Blood work and Ultrasound
  29th July 2019 - Blood work
  30th July 2019 - Retrieval
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
