createdAt: "2019-03-01T12:35:54.573Z"
updatedAt: "2019-03-25T22:42:01.091Z"
type: "MARKDOWN_NOTE"
folder: "1a08c9dc8161bc539047"
title: "Master List"
tags: []
content: '''
  Master List
  
  Clothes:-
    fold clothes BR1
    Sort give away clothes
    Fold laundry clothes
  
  Clean & Vaccum:-
    BR1
    BR2
    BR3
    Puja room
    Kitchen
    Living Room
    Dining Room
    Windows
  
  Plumbing:-
    Common toilet flush
    Bar facuet
    Laundry room faucet
    
  Painting:- 
    Garage
    Wood polish
    Post box
    Basketball court
    deck
  
  
  Outdoor:-
    Spray chemicals around home
    Spray defence spray inside home
    Wash deck and siding
    Clean shed
    Remove weeds
    Reseed lawn
    Mulch garden
  
  Catch All:-
    Wash utensils
    Check air filter
    Fix laptop table
    Build Mantap
    Recycle boxes
    Sort Documents
    Steam vaccum
  
'''
linesHighlighted: [
  9
]
isStarred: false
isTrashed: false
