createdAt: "2019-11-23T03:03:02.671Z"
updatedAt: "2019-12-05T03:27:16.450Z"
type: "MARKDOWN_NOTE"
folder: "0b9f3c1b4c0cf942332e"
title: "Current Fridge"
tags: []
content: '''
  Current Fridge
  
  69 inches tall
  35 inches wide
  33 inches depth
  
  
  LFXS26596s
'''
linesHighlighted: []
isStarred: false
isTrashed: false
