createdAt: "2019-09-11T21:02:41.813Z"
updatedAt: "2019-09-12T02:13:59.154Z"
type: "MARKDOWN_NOTE"
folder: "78609489e6890b00b13e"
title: "Relativity"
tags: []
content: '''
  Relativity
  Chicago Il,
  
  SAS solution 
  info and analytics
  2001 since
  legal space 198 law firms use Relativity
  tesla, linked in
  govt sector
  doj epa UN
  
  cloud 
  ms azure and on premis cloud
  apple & Samsung design pattern litation
  size 1000 employees
  500 employees in engineering
  
  HQ chicago, aus, hk, london, krackout poland HQ2
  
  C#, azure, sql js reall
  devops
  microservices, security,
  
  agile scrum, TDD
  
  
  Next Steps for me:-
  send a resume,
  career aspiration
  
  From Relativity:-
  tech assesement (next call)
  review
  on site 
  2-3 days to finialize
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
