createdAt: "2019-07-23T01:51:13.950Z"
updatedAt: "2019-12-15T14:29:09.870Z"
type: "MARKDOWN_NOTE"
folder: "b9b3a4bdeaa7cf6c3186"
title: "Medications #2"
tags: []
content: '''
  Medications #2
  
  <B>Ganirelix</B>
  
  Day 01. 07/11
  Day 02. 07/12
  Day 03. 07/13
  
  <B>Gonal &amp; Menopur</B>
  Day 04. 07/14
  Day 05. 07/15
  Day 06. 07/16
  Day 07. 07/17
  Day 08. 07/18
  Day 09. 07/19
  Day 10. 07/20
  Day 11. 07/21
  
  <B>Genirelix, Gonal &amp; Menopur</B>
  Day 12. 07/22
  Day 13. 07/23
  Day 14. 07/24
  Day 15. 07/25
  Day 16. 07/26
  Day 17. 07/27
  
  <B>Gonad</B>
  Day 18. 07/28
'''
linesHighlighted: []
isStarred: false
isTrashed: false
