createdAt: "2019-07-05T13:14:17.139Z"
updatedAt: "2019-07-05T17:41:17.553Z"
type: "MARKDOWN_NOTE"
folder: "1a08c9dc8161bc539047"
title: "Things to Do:"
tags: []
content: '''
  Things to Do:
  
  1. UPMC Call
    07/05/2019: (Dedicated customer rep) Customer service will call me in 1 business day
    888-876-2756
  
    44376550
  
    mike or joyce or jodi or lynda or marcus
  
    total: 15000
    currently used: 12000
  
  2. CVS Call
    07/05/2019: Called and there is not coverage
    allowallable lifetime - 15000
    currently used - 14284.73
  
  3. HSA Balance
  4. Sort Medical bills
  
  ss
'''
linesHighlighted: []
isStarred: false
isTrashed: false
