createdAt: "2019-08-19T00:55:59.271Z"
updatedAt: "2019-08-19T00:59:11.260Z"
type: "MARKDOWN_NOTE"
folder: "0b9f3c1b4c0cf942332e"
title: "13.5"
tags: []
content: '''
  13.5
  48.4
  
  2.47
  
  7.5
  15.75
  
  2.32
  
  2.6
'''
linesHighlighted: []
isStarred: false
isTrashed: false
