createdAt: "2019-12-17T12:06:53.324Z"
updatedAt: "2019-12-23T14:05:23.609Z"
type: "MARKDOWN_NOTE"
folder: "1a08c9dc8161bc539047"
title: "TO DO"
tags: []
content: '''
  TO DO
  
  3. Clean Kitchen
  4. Clean Dining Room
  5. Clean Living Room
  6. Clean Family room
  7. Clean Study Room
  8. Clean Puja room
  9. Clean Nivi Room
  10. Clean Master Bed Room
  12. Clean Basement
  13. Sort Clothes
  14. Sort Old Clothes
  15. Sort Old Shoes
  16. Build Shoe Rack
  17. Build Study Desk
  18. Clean Car
  19. Wash Oil Lamps
  20. Shoe Rack
  21. 
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
