createdAt: "2019-06-22T13:33:43.194Z"
updatedAt: "2019-06-22T13:34:25.228Z"
type: "MARKDOWN_NOTE"
folder: "0b9f3c1b4c0cf942332e"
title: "Nutone bathroom vent"
tags: []
content: '''
  Nutone bathroom vent
  Progress power vent
  Braun bathroom vent
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
