createdAt: "2019-06-06T10:23:05.253Z"
updatedAt: "2019-06-06T10:23:07.794Z"
type: "MARKDOWN_NOTE"
folder: "5573715f58e5aa771f74"
title: "Work With Cloud Applications Using AWS, Docker, Marathon-LB, MySQL database, Mesos DNS, Mesospher DC/OS"
tags: []
content: "Work With Cloud Applications Using AWS, Docker, Marathon-LB, MySQL database, Mesos DNS, Mesospher DC/OS"
linesHighlighted: []
isStarred: false
isTrashed: false
