createdAt: "2019-08-16T18:02:44.137Z"
updatedAt: "2019-09-12T02:13:44.164Z"
type: "MARKDOWN_NOTE"
folder: "78609489e6890b00b13e"
title: "SIG"
tags: []
content: '''
  SIG
  option market
  equities, commodities, force trading
  
  tech
  front office teams
  supports
  tech operations:- operations and accounting team
  reconliation
  
  banks ml, barlays,
  
  firm b&y calculated
  
  stack
  Microsoft C# WCF WPF MVC
  Oracle
  
  C++, python focussed
  
  
  Task
  TPL
  Concurrent dictionary
  
  WCF
  json 
  GC
  
  using
  
  joins
  primary
  composite keys
  
  interface, polymorphism, 
  
  lazy loading
  
  Kanban
  longterm dev projects
  12 dev 2 testers 2 dbas
  
  
  
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
