createdAt: "2019-05-10T11:10:59.742Z"
updatedAt: "2019-05-18T02:06:19.761Z"
type: "MARKDOWN_NOTE"
folder: "1a08c9dc8161bc539047"
title: "One shot one opportunity"
tags: []
content: '''
  One shot one opportunity
  
  5 am wakeup
  5:15-6 study
  6 - 7:30 breakfast & lunch
  7:30 start from home
  8:40 arrive at office
  8:40 - 5 work in office
  5 start from office
  6:10 arrive home
  6:20 exercise for 15 mins
  6:30 - 7:30 dinner and dishes
  7:30 - 8 relax
  8-10 study
'''
linesHighlighted: []
isStarred: false
isTrashed: false
