createdAt: "2019-06-03T22:32:45.964Z"
updatedAt: "2019-07-17T10:35:15.985Z"
type: "MARKDOWN_NOTE"
folder: "b9b3a4bdeaa7cf6c3186"
title: "Medical Payments"
tags: []
content: '''
  Medical Payments
  
  8th Jun Alliance 884.24
  10th Jun alliance 44.50
  28th Jun 985.22
  
  
  775746658651
'''
linesHighlighted: []
isStarred: false
isTrashed: false
