createdAt: "2019-10-21T19:36:52.808Z"
updatedAt: "2019-12-15T14:28:51.090Z"
type: "MARKDOWN_NOTE"
folder: "78609489e6890b00b13e"
title: "Boston Scientific"
tags: []
content: '''
  Boston Scientific
  
  1. silicon valley for medical software
  2. new dev
  3. 3 r sr prinipal
  4. architect
  5. sr architect
  6. MVVM
  7. 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
