createdAt: "2019-09-01T14:14:56.637Z"
updatedAt: "2019-09-01T14:23:36.033Z"
type: "MARKDOWN_NOTE"
folder: "1a08c9dc8161bc539047"
title: "Golu List"
tags: []
content: '''
  Golu List
  
  Jeevitha    4 + 2
  Raja        2 + 1
  Shobana     2 + 2
  Seema       2 + 2
  geeta       2 
  Brahma      2 + 2
  Smita       4
  Navaeentha  2 + 2
  Gayatri     2 + 1
  Savita      2 + 1
  x           2 + 1
  Sruthi      2 + 1
  Sripriya    2 + 1
  Priya       2 + 1
  Paveena     2 + 2
  Sahithi     2 + 1
  Sumitha     2 + 2
  Malathi     2 + 2
  Balaji      2 + 2
  Vani        2 + 2
  Saryana     2 + 1
  Sandya      2 + 2
  Harprit     2 + 2
  Shelly      
  Gautam
  Saurab
  Rashmi
  Sarath
  Deepak
  Ashwini
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
