createdAt: "2019-09-01T17:14:42.847Z"
updatedAt: "2019-12-05T03:29:13.251Z"
type: "MARKDOWN_NOTE"
folder: "0b9f3c1b4c0cf942332e"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
