createdAt: "2019-11-29T17:23:32.263Z"
updatedAt: "2019-12-15T14:27:32.280Z"
type: "MARKDOWN_NOTE"
folder: "0b9f3c1b4c0cf942332e"
title: "Plant bulbs"
tags: []
content: '''
  Plant bulbs
  Copy data
  Sort papers
  Fix bar faucet
  Fix bidet
  Call to fix stop valve
  Call to add external socket
  Fix common bathroom faucets
  Fix master bathroom faucets
  Clean Sink
  Clean Windows
  Trip Plan
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
